@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Mukta&family=Roboto&family=Work+Sans:wght@400;500;600;700&display=swap');
/* Shared styles */
*{
   font-family: 'Lato', sans-serif;
   font-family: 'Mukta', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Work Sans', sans-serif;
}
.btn-primary{
   padding: 20px 25px;
   border-radius: 8px;
   background-color: #FF900E;
   color: #FFF;
   cursor: pointer;
   font-size: 1.25rem;
   border: none;
}
/* Header section style */
header{
   background-color: rgba(255, 144, 14, 0.10);
   padding: 50px 240px;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
nav > ul{
   display: flex;
}
nav li{
   list-style: none;
   margin-right: 30px;
}
nav a{
   text-decoration: none;
}
.nav-title{
   font-size: 2.8rem;
   font-weight: 700;
   color: #131313;
}
/* banner style */
.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
}
.banner-title{
   font-weight: 700;
   font-size: 4rem;
   color: #131313;
}
.banner-descr{
   font-weight: 400;
   color: #727272;
}
.banner img{
   margin-top: 50px;
   width: 100%;
}
/* main style start */
main{
   max-width: 1440px;
   margin: 70px auto;
}
/* team style start */
.team-container{
   display: flex;
   align-items: center;
   gap: 4.5rem;
   padding: 0 70px;
}
.team-img-container{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 1.5rem;
}
.team-title{
   font-size: 3rem;
   color: #131313;
   font-weight: 700;
}
.quick{
   color: #727272;
   font-weight: 500;
}
.feature{
   color: #FF900E;
}
.team-descr{
   color: #727272;
   font-size: 1rem;
   font-weight: 400;
}
.text-light-grey{
   color: #727272;
}
/* team style end */

/* main style end */






/* Responsive website using media query */
/* for mobile device */
@media screen and (max-width:576px) {
   header{
      padding: 20px;
   }
   nav,
   .team-container
   {
      flex-direction: column;
   }
   .team-img-container{
      grid-template-columns: 1fr;
   }
   .team-container{
      padding: 0 20px;
   }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
   header{
      padding: 50px;
   }
   nav,
   .team-container
   {
      flex-direction: column;
   }
}